.u-section-1 .u-sheet-1 {
  min-height: 817px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 861px;
  margin: 20px auto 0 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 155px;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px 30px 18px;
}

.u-section-1 .u-group-1 {
  min-height: 116px;
  margin-top: 1px;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-2 {
  padding-right: 29px;
  padding-left: 29px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 14px 89px 0 auto;
  padding: 5px 36px 6px 34px;
}

.u-section-1 .u-image-1 {
  width: 70px;
  height: 70px;
  margin: -29px auto 0 1px;
}

.u-section-1 .u-text-3 {
  margin: -70px 416px 0 81px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 14px 0 0 auto;
  padding: 5px 42px 5px 41px;
}

.u-section-1 .u-text-4 {
  margin: -36px auto 0 81px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: -77px 0 0 auto;
  padding: 5px 36px 6px 34px;
}

.u-section-1 .u-text-5 {
  margin-top: -167px;
  margin-bottom: 0;
  margin-left: 902px;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 20px 73px 0 902px;
}

.u-section-1 .u-text-6 {
  margin-top: 20px;
  margin-bottom: 60px;
  margin-left: 902px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 72px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -127px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 702px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 702px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 702px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 762px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 363px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 482px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 482px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 482px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 14px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -70px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 302px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 302px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 302px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 43px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -99px;
    margin-right: 191px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 102px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 102px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 102px;
  }
}